body {
  background-color: #1C0827;
}

.login {
  text-align: center;
  padding-top: 40px;
}

.candle-img {
  margin: 60px;
  margin-left: 80px;
}

#front-title {
  text-shadow: #2BE8B1 0 1px 15px, #8BCCE8 3px 5px 100px;
  font-family: 'Offside', cursive;
  font-size: 70px;
  color: #29231F;
  padding-top: 70px;
}

li.logo {
  text-shadow: #2CE866 0 2px 4px, #1327FF 1px 10px 8px
  font-family: 'Offside', cursive;
  color: Black;
}

.the_form {
  zoom: 0.8;
  padding-top: 90px;
}


.user_input {
  border: 1px solid #ccc;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 17px;
  font-family: "Offside";
  text-align: center;
}

.hidden {
  display: none;
}

.btns, .like-btn, .comment-btn {
  display: inline-block;
  padding: 10px 25px;
  outline: none;
  color: #fff;
  background-color: #FFAF19;
  font-family: "Offside";
  font-size: 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 7px #999;
  margin-top: 15px;
}
.btns:hover, .like-btn:hover, .comment-btn:hover {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  margin-top: 15px;
}

.like-btn, .comment-btn {
  zoom: 0.6
}

.like-btn {
  margin-bottom: 20px;
}


header {
  display: flex;
  justify-content: center;
  top: 0;
}

.nav-bar {
  background-color: teal;
  overflow: hidden;
  position: fixed;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

.nav-bar li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  color: white;
  font-family: "Offside";
}


/* .btn-div {
  text-align: center;
  padding-bottom: 50px;
} */

.graveyard {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 150px;
  margin-right: 60px;
}

.tomb {
  text-align: center;
  background-color: transparent;
  width: 80px;
  margin: 80px;
  text-align: center;
  font-size: 10px;
  zoom: 1;
}

.tomb-title {
  color: Black;
  font-family: "Offside";
  position: relative;
  bottom: 50%;
  left: 90%;
  word-wrap: break-word;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 15px;
  box-shadow: 0 7px #999;
  position: absolute;
  top: 20%;
  left: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
