html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
}

.daytime {
  background-image: linear-gradient(#0a0a17, #201533, #2d1721);
}
.nightmode {
  background-color: #170e27;
}

.container-fluid {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

.navbar {
  width: 100%;
  background-color: #20797999;
}

.login {
  text-align: center;
  padding-top: 40px;
  opacity: 0;
}

.candle-img {
  margin: 60px;
  margin-left: 80px;
}

#front-title {
  text-shadow: #2BE8B1 0 1px 15px, #8BCCE8 3px 5px 100px;
  font-family: 'Offside', cursive;
  font-size: 70px;
  color: #29231F;
  padding-top: 70px;
  font-weight: bold;
}

li.logo {
  text-shadow: #2CE866 0 2px 4px, #1327FF 1px 10px 8px
  font-family: 'Offside', cursive;
  color: Black;
}

.the_form {
  zoom: 0.8;
  padding-top: 90px;
}


.user_input {
  border: 1px solid #ccc;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 17px;
  font-family: "Offside";
  text-align: center;
}

.hidden {
  display: none;
}

.btns, .like-btn, .comment-btn {
  display: inline-block;
  padding: 10px 25px;
  outline: none;
  color: #fff;
  background-color: #FFAF19;
  font-family: "Offside";
  font-size: 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 7px #999;
  margin-top: 15px;
  zoom: 0.7;
}
.btns:hover, .like-btn:hover, .comment-btn:hover {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  margin-top: 15px;
}



.like-btn {
  margin-bottom: 20px;
}


header {
  display: flex;
  justify-content: center;
  top: 0;
}




.li-css {
  font-family: "Offside";
}

#light-candle {
  position:fixed;
  left:0;
  bottom:0;
  margin:0;
}

.graveyard {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
}

.tomb {
  background-color: transparent;
  font-size: 10px;
  zoom: 1;
  overflow: hidden;
  position: relative;
  text-align: center
}

.graveyard > .tomb {
  margin: 30px;
}

.tomb-con {
  width: 100%;
}

.tomb-title {
  color: Black;
  font-family: "Offside";
  font-size: 17px;
  font-weight: bold;
  word-wrap: normal;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.tomb:hover {
  text-shadow: 0 0 8px yellow;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #b9b9b6f0;
  font-family: "Offside";
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 15px;
  position: absolute;
  top: 20%;
  left: 30%;
  box-shadow: 0px 0px 20px 8px #48b1b1;
}

#js-tags {
  color: teal;
  font-weight: bold;
}

#checkdiv {
  padding-bottom: 10px;
}

.navbar-form {
  font-family: "Offside";
  color: white;
}

.modal-titles {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

/* The Close Button */
.close {
  color: Black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.navbar-nav > li > .dropdown-menu {
  background-color: teal;
}

.tag-dropdown {
  margin-left: 5px;
}

.comment-ul{
  padding-left: 10px;
}

.dropdown {
  font-family: "Offside";
}

.words-con {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 6px;
}
#story-content {
  margin: 0;
}
